.content {
    width: 800px;
}
body {
    background-image: url(black.png );
    background-color: rgba(0, 0, 0, 0.867);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1400px 7095px;
    width: 1400px;
    height: 8000px;
    margin: 0 auto;
    position: relative
}
/* Содержание */
.start{
    display: inline-block;
}
.recipe{
    display: inline-block;
    white-space: nowrap;
    position: relative;
}
.dental{
    display: inline-block;
    white-space: nowrap;
    position: relative;
}
.languages{
    display: inline-block;
    white-space: nowrap;
    position: relative;
}
.priborhz{
    display: inline-block;
    white-space: nowrap;
    position: relative;
}
.check{
    display: inline-block;
    white-space: nowrap;
    position: relative;
}
.languagesd{
    margin-top: 900px;
}
.png1{
    height: 530px;
    margin-left: 30%;
    margin-top: 13%;
}
.png2{
    padding-top: 433px;
    margin-left: 20%;
    position: relative
}
.png3{
    padding-top: 433px;
    margin-left: 4%;
    position: relative
}
.png4{
    padding-top: 530px;
    margin-left: 22%;
    position: relative
}
.png5{
    margin-top: -450px;
    margin-left: 30%;
    position: relative
}
.png6{
    padding-top: 500px;
    margin-left: 4%;
    position: relative
}
.png7{
    padding-top: 450px;
    margin-left: 31%;
    position: relative
}


/* Текст */
@font-face {
    font-family: 'hk_grotesk';
    src: url('./fonts/hkgrotesk-regular-webfont.woff') format('woff');
    src: url('./fonts/hkgrotesk-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.hkg{
    font-size: 135px;
    margin-top: -21%;
    padding-left: 100px;
    line-height: 178px;
}
.hkgg{
    font-size: 42px;
    padding-left: 109px;
    margin-top: -102px;
    letter-spacing: 2px;
    width: 1200px;
}
.recipetext{
    font-size: 52px;
    position: absolute;
    top: 41%;
    padding-left: 407px;
    transform: translateY(-50%);
}
.pet{
    font-size: 69px;
    padding-left: 298px;
    color: #80E8FF;
    position: absolute;
    top: 53%; 
    line-height: 53px;
    transform: translateY(-50%);
}
.lettert{
    font-size: 40px;
    padding-left: 500px;
    letter-spacing: 2px;
    position: absolute;
    top: 55%;

    line-height: 53px;
    transform: translateY(-50%);
}
.signature{
    font-size: 44px;
    position: absolute;
    top: 79%;
    padding-left: 320px;
    letter-spacing: 3px;
    transform: translateY(-50%);
}
.gv{
    color: black;
    font-size: 92px;
    padding-left: 820px;
    -webkit-text-stroke-color: #80e8ff;
    -webkit-text-stroke-width: 2px;
    position: absolute;
    top: 67%;
}
.dentalt{
    font-size: 50px;
    position: absolute;
    top: 30%;
    padding-left: 230px;
    letter-spacing: 3px;
    transform: translateY(-50%);
}
.weight{
    font-size: 37px;
    position: absolute;
    top: 97%;
    padding-left: 220px;
    letter-spacing: 3px;
    transform: translateY(-50%);
    word-spacing: 43px;
}
.languagest{
    font-size: 50px;
    position: absolute;
    top: 17%;
    padding-left: 220px;
    letter-spacing: 4px;
    transform: translateY(-50%);
}

.p{
    font-size: 250%;
    position: absolute;
    top: 35%;
    padding-left: 545px;
    transform: translateY(-50%);
}
.d{
    font-size: 250%;
    position: absolute;
    top: 36%;
    padding-left: 750px;
    transform: translateY(-50%);
}
.t{
    font-size: 250%;
    position: absolute;
    top: 38%;
    padding-left: 430px;
    transform: translateY(-50%);
}
.a{
    font-size: 250%;
    position: absolute;
    top: 39%;
    padding-left: 770px;
    transform: translateY(-50%);
}
.i{
    font-size: 250%;
    position: absolute;
    top: 40%;
    padding-left: 597px;
    transform: translateY(-50%);
}
.f{
    font-size: 250%;
    position: absolute;
    top: 44%;
    padding-left: 500px;
    transform: translateY(-50%);
}
.s{
    font-size: 250%;
    position: absolute;
    top: 45%;
    padding-left: 710px;
    transform: translateY(-50%);
}
.pri1{
    font-size: 245%;
    position: absolute;
    top: 32%;
    padding-left: 100px;
    transform: translateY(-50%);
    letter-spacing: 1px;
    word-spacing: 4px;
}
.pri2{
    font-size: 245%;
    position: absolute;
    top: 37%;
    padding-left: 830px;
    transform: translateY(-50%);
    letter-spacing: 1px;
    word-spacing: 4px;
}
.pri3{
    font-size: 245%;
    position: absolute;
    top: 98%;
    padding-left: 580px;
    transform: translateY(-50%);
    letter-spacing: 1px;
    word-spacing: 4px;
}
.w1{
    font-size: 200%;
    position: absolute;
    top: 29.4%;
    padding-left: 70px;
    transform: translateY(-50%);
}
.w2{
    font-size: 200%;
    position: absolute;
    top: 34.7%;
    padding-left: 800px;
    transform: translateY(-50%);
}
.w3{
    font-size: 200%;
    position: absolute;
    top: 95.6%;
    padding-left: 555px;
    transform: translateY(-50%);
}
.A1{
    font-size: 277%;
    position: absolute;
    top: 80%;
    padding-left: 792px;
    transform: translateY(-50%);
}
.A2{
    font-size: 200%;
    position: absolute;
    top: 80.6%;
    padding-left: 887px;
    transform: translateY(-50%);
}
.A3{
    font-size: 140%;
    position: absolute;
    top: 80.4%;
    padding-left: 963px;
    transform: translateY(-50%);
}
.keglem{
    font-size: 195%;
    position: absolute;
    top: 104%;
    padding-left: 949px;
    transform: translateY(-50%);
}
.checkt{
    font-size: 310%;
    position: absolute;
    top: 41%;
    padding-left: 300px;
    transform: translateY(-50%);
}
.checktt{
    font-size: 270%;
    position: absolute;
    top: 64%;
    padding-left: 300px;
    transform: translateY(-50%);
    line-height: 70px;
}
.checkprice{
    font-size: 270%;
    position: absolute;
    top: 56%;
    padding-left: 660px;
    transform: translateY(-50%);  
    line-height: 70px; 
}
h1{
    color: white;
    font-size: 34px;
    font-family: hk_grotesk;
}
h2{
    color: white;
    font-size: 30px;
    font-family: hk_grotesk;
}
h3{
    color: #80e8ff;
}